*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif ,monospace;

   
}
#holebody{
    width: 100%;
    height: 100vh;  
}
.glow{
  overflow: hidden;
  font-size: 1.6rem;
  width: 0;
  white-space:nowrap;
  animation: typing 3s infinite;
  font-weight: 600;
  color:white;
  margin-top: 5px;
}
.port{
  display: inline-block;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#navbtn{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 20px;
  border: none;
  
}
#navbtn:hover{
transition:0.5s all;
transform: rotate(360deg);
border-top:4px solid white;
}
#headpara{
  color:#7e7979;
}
#profile1{
    bottom: 0;
    width: 900px;
    left: -120px;
    background-position: center;
    background-size: cover;
    filter:drop-shadow(1px 18px 105px rgba(45,255,196,1));
    position:absolute;   

}
#profile2{
  bottom: 0;
  width: 800px;
  left: -120px;
  background-position: center;
  background-size: cover;
  filter:drop-shadow(1px 18px 105px rgba(45,255,196,1));
  display:none;
  border-bottom: 5px solid rebeccapurple;
  border-radius: 50%; 
}
marquee{
  width: 290px;
}
#headname{
    
    font-weight: 700;
    font-size:4vw;
    margin-bottom: 0%;
}

#cvbtn{
  background-color: #008CBA;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius:64px 32px;
  box-shadow: 0 4px 15px 0 #006699;
  width: 150px;
  animation: example 1s infinite; 
  margin-bottom: 10px;
}

@keyframes example {
  0% {background-color: #008CBA;}
  50% {background-color: #006699;}
  100% {background-color: #008CBA;}
}

#cvbtn:hover{
  filter:drop-shadow(1px 2px 15px rgba(45,255,196,1))

}
#textcontent{
  display: flex;
  display: block;
}
.cardsec {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content:end;
    gap:10px;
    position:relative;
    align-content: end;
    margin-right: 7.5vw; 
   
          
}
.tiny-card {
   /* Adjust as needed for a tiny card */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1.5);
  transition: transform 0.2s;
  background-color: rgb(255, 255, 255 , 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
 
}
.tiny-card:hover {
  transform: scale(1.05);
  filter:drop-shadow(1px 2px 10px rgba(45,255,196,1));
}


.tiny-card-content {
  padding: 10px;
  /* Less padding for a tiny card */
}

.tiny-card-title {
  font-size: 1.5em; /* Smaller font size for the title */
  margin: 0 0 5px;
  color: white;
  font-weight: 600;
}


.tiny-card-description {
  font-size: 0.9em; /* Smaller font size for the description */
  color: #555;
}
a{
  text-decoration: none !important;
  width: 200px;
}
#iconcontainer{
 width: 200px;
 position:absolute;

}
#privateicon a{
  display: flex;
  margin: 20px 20px;
  
}
#privateicon img{
  width: 60px;
  height: 60px;
}
#iconcontainer2{
  width: 200px;
  display: none;
}
#privateicon2 a{
  display: flex;
  margin: 20px 20px;
}
#privateicon2 img{
  width: 60px;
  height: 60px;
}
.foot{
  display: none;
  filter:drop-shadow(1px 5px 50px rgba(45,255,196,1));

}
.pp{
  filter:drop-shadow(1px 5px 50px rgba(45,255,196,1));
  font-size:10px ;
  bottom: 0;
  margin-top: 70px;
}

/*........responsive site.........*/
@media screen and (max-width:400px) {

  #headname{
    font-size: 30px;
    text-align: center;
  }
  #headname1{
    text-align: center;
    font-size:10px;
  }
  #glow{
    font-size: 20px;
  }
  #ppp{
    text-align: center;
  }
  #cvbtn{
    display: block;
    margin: auto; 
    margin-bottom: 200px;
  }
 
  #profile1{
   display: none;  
  }
  #profile2{
    display:block;
  }
  .cardsec{
    flex-direction: column;
    justify-content: center;
    margin:auto;
    width:75%;
    height: 300px;
    position:relative;
    z-index: 2; 
    margin-bottom: 200px;
  }
  .tiny-card {
    display: block;
    margin: auto;
    
  }
  a{
    width: auto;
  }

  #markq{
    display: block;
    margin: auto;
  }
  #iconcontainer{
    position: relative;
    left: 40%;
    top:-190%; 
    
  }
  #privateicon a{
    margin-bottom: 7px;
  }
  #privateicon img{
    width: 20px;
    height: 20px;
  }
  #iconcontainer{
    display: none;
  }
  #iconcontainer2{
    
    display: block;
    position: absolute;
  }
  #privateicon2 a{
    display: flex;
    margin: 20px 20px;
  }
  #privateicon2 img{
    width: 30px;
    height: 30px;
  }
  .foot{
    display:block;
  }
  
}




